# Opsional bila physical MariaDB ingin dijadwalkan terpisah.
SHELL=/bin/bash
HOME=/root
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
MAILTO=""

30 0 * * * /opt/auto-backup/backup-mariadb-physical.sh >>/var/log/auto-backup-mariadb-physical.log 2>&1
